<head>
    <title>404 Not Found</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-top: 100px;">
            <h1>404 Error</h1>
            <h1>Page not found</h1>
            <div style="padding-top: 20px;">
            <button class="custom-btn btn-6" onclick="window.location.href='/'">
                <span>
                    Home Page
                </span>
            </button>
            </div>
        </div>
        
    </div>
</div>