
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="wrapper">
	<a href="https://twitter.com/">
  <div class="icon twitter">
    <div class="tooltip">Twitter</div>
    <span><i class="fab fa-twitter"></i></span>
  </div>
	</a>
  <a href="https://www.instagram.com/">
  <div class="icon instagram">
    <div class="tooltip">Instagram</div>
    <span><i class="fab fa-instagram"></i></span>
  </div>
	</a>
	<a href="https://github.com/Shaking-Hands-Overseas/TR">
  <div class="icon github">
    <div class="tooltip">Github</div>
    <span><i class="fab fa-github"></i></span>
  </div>
  </a>
	<a href="https://www.youtube.com/channel/UCzpIafDfVrGQTQ1VNQ19Zfw">
  			<div class="icon youtube">
    			<div class="tooltip">Youtube</div>
    			<span><i class="fab fa-youtube"></i></span>
  			</div>
	</a>
</div>