<title>About our Project</title>
<div style="background: #C0C0C0">
	<div class="container">
	<div class="row">
	<div class="col-md-6 offset-3" style="text-align: center;padding-top: 100px;">
		<p>This website is part of the project shaking hands overseas for CIC Batxillerats.</p> 

		<p>Goal: The objective of this project is to control an arm that is in Boston with the hand from Barcelona. This is a long term project and we will be working on it douring months
</p>
<span></span>
	</div>
	</div>
	</div>
</div>