<head>
    <title>
        Contact Information
    </title>
    
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-top: 100px;">
            <h1>Contact Information</h1>
        </div>
        <div class="col-md-12" style="text-align: center; padding-top: 50px;">
            <h5>Contact us via email: </h5>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <button onclick="window.location.href='mailto:2022shoproject@gmail.com'" class="custom-btn btn-4">Email</button>
        </div>
    </div>
</div>