<style>
    footer{
        background-color:  #C0C0C0;
    }
        #footer {
            position: fixed;
            padding: 0px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 140px;
            background: transparent;
        }
</style>
<router-outlet></router-outlet>
<div id="footer">
    <div class="subtitle"> 2021-2022</div>
    <div class="subtitle"> CIC & MIT Project</div>
    <div class="col-md-12" style="text-align: center">
        <app-social-media></app-social-media>
    </div>
</div>