<body style="background: linear-gradient(#e5e8e8,  #b2babb);">
  <div style="color: transparent;">a</div>
  <hr style="color: transparent;padding-top: 900px;">
</body>
<div class="login-box">
  <h2>Sign-Up</h2>
  <form name="form" (ngSubmit) = "onSubmit()" #loginForm="ngForm">
    <div class="user-box">
      <input type="Email" class = "form-control" id = "email" required [(ngModel)] = "model.email" name="email" #email ="ngModel">
      <label>Email</label>  
    </div>
    <div [hidden]="email.valid || email.pristine"
     class="alert alert-danger">
     Email is Required
    </div>


    <div class="user-box">
      <input type="text" class = "form-control" id = "username" required [(ngModel)] = "model.username" name="username" #username ="ngModel">
      <label>Username</label>  
    </div>
    <div [hidden]="username.valid || username.pristine"
     class="alert alert-danger">
     Username is Required
    </div>


    <div class="user-box">
      <input type="password" class = "form-control" id = "password" required [(ngModel)] = "model.password" name="password" #password = "ngModel">
      <label>Password</label>
    </div>
    <div [hidden]="password.valid || password.pristine"
     class="alert alert-danger">
     Password is Required
    </div>

    <div class="user-box">
      <input type="password" class = "form-control" id = "password2" required [(ngModel)] = "model.password2" name="password2" #password2 = "ngModel">
      <label>Repeat Password</label>
    </div>
    <div [hidden]="password2.valid || password2.pristine"
     class="alert alert-danger">
     Repeat Password is Required
    </div>
    <div [hidden]="Match"
     class="alert alert-danger">
     Passwords do not match
    </div>
    <div [hidden]="Empty"
     class="alert alert-danger">
     Please don't leave anything empty
   </div>


    <a role="button"(click)="CreateUser(); loginForm.reset()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>

