<div class="row" style="margin-right: 0px;">
<div class="col-md-12" style="background-color: #C0C0C0;">
<button onclick="window.location.href='/'" class="custom-btn btn-6"><span>Home</span></button>
<button onclick="window.location.href='/About'" class="custom-btn btn-6"><span>About</span></button>
<button onclick="window.location.href='/hand'" class="custom-btn btn-6"><span>Hand</span></button>
<button onclick="window.location.href='/contact'" class="custom-btn btn-6"><span>Contact</span></button>
</div>
</div>