<div class="row" style="margin-right: 0px;">
<div class="col-md-12" style="background-color: #C0C0C0;">
<a class="lbutton" routerLink="/"><button class="custom-btn btn-6"><span>Home</span></button></a>
<a class="lbutton" routerLink="/About"><button class="custom-btn btn-6"><span>About</span></button></a>
<a class="lbutton" routerLink="/hand"><button class="custom-btn btn-6"><span>Hand</span></button></a>
<a class="lbutton" routerLink="/contact"><button class="custom-btn btn-6"><span>Contact</span></button></a>
</div>
</div>